#include <iostream>
#include <vector>
#include <string>
#include <emscripten.h>
#include <emscripten/bind.h>
#include "Cpp/lib3mf_implicit.hpp"

using namespace emscripten;
using namespace Lib3MF;

// ================== Struct Wrappers ==================
{% for struct in structs %}
struct s{{ struct.name }}Wrapper {
    s{{ struct.name }} value;
    {% for member in struct.members %}
        {% if member.is_array %}
            {% if member.is_2d_array %}
                {% for i in range(member.cols) %}
                    {% for j in range(member.rows) %}
    {{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} get_{{ member.name }}_{{ i }}_{{ j }}() const { return value.m_{{ member.name }}[{{ i }}][{{ j }}]; }
    void set_{{ member.name }}_{{ i }}_{{ j }}({{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} v) { value.m_{{ member.name }}[{{ i }}][{{ j }}] = v; }
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for i in range(member.rows or member.cols) %}
    {{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} get_{{ member.name }}{{ i }}() const { return value.m_{{ member.name }}[{{ i }}]; }
    void set_{{ member.name }}{{ i }}({{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} v) { value.m_{{ member.name }}[{{ i }}] = v; }
                {% endfor %}
            {% endif %}
        {% else %}
    {{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} get_{{ member.name }}() const { return value.m_{{ member.name }}; }
    void set_{{ member.name }}({{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }} v) { value.m_{{ member.name }} = v; }
        {% endif %}
    {% endfor %}

    s{{ struct.name }} toStruct() const { return value; }

    static s{{ struct.name }}Wrapper fromStruct(const emscripten::val &js) {
        s{{ struct.name }}Wrapper wrapper;
        {% for member in struct.members %}
            {% if member.is_array %}
                {% if member.is_2d_array %}
                    {% for i in range(member.rows) %}
                        {% for j in range(member.cols) %}
        wrapper.value.m_{{ member.name }}[{{ j }}][{{ i }}] = js["{{ member.name }}_{{ i }}_{{ j }}"].as<{{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }}>();
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for i in range(member.rows or member.cols) %}
        wrapper.value.m_{{ member.name }}[{{ i }}] = js["{{ member.name }}{{ i }}"].as<{{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }}>();
                    {% endfor %}
                {% endif %}
            {% else %}
        wrapper.value.m_{{ member.name }} = js["{{ member.name }}"].as<{{ "e" + member.enum_class if member.is_enum else "Lib3MF_" + member.type }}>();
            {% endif %}
        {% endfor %}
        return wrapper;
    }
};
{% endfor %}

// ================== Static Method Wrappers ==================
{% for w in static_wrappers %}
static {{ w.return_type }} wrap_{{ w.class }}_{{ w.name }}(C{{ w.class }} &self{% if w.param_decls %}, {{ w.param_decls | join(', ') }}{% endif %}) {
    {% for d in w.out_decls %}
    {{ d }}
    {% endfor %}
    {% if w.returns_wrapper_directly %}
    auto result = self.{{ w.name }}({{ w.call_args | join(', ') }});
    {{ w.return_type }} wrapper;
    wrapper.value = result;
    return wrapper;
    {% elif w.return_type == "emscripten::val" %}
    self.{{ w.name }}({{ w.call_args | join(', ') }});
    emscripten::val output = emscripten::val::object();
    {% for s in w.out_sets %}
    {{ s }}
    {% endfor %}
    return output;
    {% elif w.has_return %}
    auto result = self.{{ w.name }}({{ w.call_args | join(', ') }});
    return result;
    {% else %}
    self.{{ w.name }}({{ w.call_args | join(', ') }});
    {% endif %}
}
{% endfor %}


// ================== Static Method Wrappers for Out Parameters ==================
{% for w in out_param_wrappers %}
static {{ w.return_type }} wrap_{{ w.class }}_{{ w.name }}(C{{ w.class }} &self{% if w.param_decls %}, {{ w.param_decls | join(', ') }}{% endif %}) {
    {% for decl in w.out_decls %}
    {{ decl }}
    {% endfor %}
    {% if w.call_stmt %}
    {{ w.call_stmt }}
    {% endif %}
    {% for s in w.out_sets %}
    {{ s }}
    {% endfor %}
    return {{ w.return_expression }};
}
{% endfor %}



// ================== Emscripten Bindings ==================
EMSCRIPTEN_BINDINGS(lib3mf) {
    // Enums
    {%- for enum in enums %}
    enum_<e{{ enum.name }}>("e{{ enum.name }}")
    {%- for option in enum.options %}
        .value("{{ option.name }}", e{{ enum.name }}::{{ option.name }})
    {%- endfor %};
    {%- endfor %}

    // Structs as exposed JS classes
    {% for struct in structs %}
    class_<s{{ struct.name }}Wrapper>("s{{ struct.name }}")
        .constructor<>()
        .class_function("fromStruct", &s{{ struct.name }}Wrapper::fromStruct)
        {% for member in struct.members %}
            {% if member.is_array %}
                {% if member.is_2d_array %}
                    {% for i in range(member.cols) %}
                        {% for j in range(member.rows) %}
        .function("get_{{ member.name }}_{{ i }}_{{ j }}", &s{{ struct.name }}Wrapper::get_{{ member.name }}_{{ i }}_{{ j }})
        .function("set_{{ member.name }}_{{ i }}_{{ j }}", &s{{ struct.name }}Wrapper::set_{{ member.name }}_{{ i }}_{{ j }})
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for i in range(member.rows or member.cols) %}
        .function("get_{{ member.name }}{{ i }}", &s{{ struct.name }}Wrapper::get_{{ member.name }}{{ i }})
        .function("set_{{ member.name }}{{ i }}", &s{{ struct.name }}Wrapper::set_{{ member.name }}{{ i }})
                    {% endfor %}
                {% endif %}
            {% else %}
        .function("get_{{ member.name }}", &s{{ struct.name }}Wrapper::get_{{ member.name }})
        .function("set_{{ member.name }}", &s{{ struct.name }}Wrapper::set_{{ member.name }})
            {% endif %}
        {% endfor %}
    ;
    {% endfor %}

   // ================== Binding Methods ==================
   {% for cls in classes %}
   class_<C{{ cls.name }}{% if cls.parent %}, base<C{{ cls.parent }}>{% endif %}> ("C{{ cls.name }}")
       .smart_ptr<std::shared_ptr<C{{ cls.name }}>>("shared_ptr<C{{ cls.name }}>")
       {% for ctx in all_methods if not ctx.is_global and ctx.class == cls.name %}
           {% set m = ctx.method %}
           {% set wrapper_name = "wrap_" + cls.name + "_" + m.name %}
           {% set skip = false %}
           {% for p in m.params %}
               {% if p.type == "pvoid" or (p.type == "handle" and not p.class) %}
                   {% set skip = true %}
               {% endif %}
           {% endfor %}
           {% if wrapper_name in wrapper_names %}
           .function("{{ m.name }}", &{{ wrapper_name }})
           {% elif m.comment_out or skip %}
           // .function("{{ m.name }}", &C{{ cls.name }}::{{ m.name }})
           {% elif m.returns_struct or m.has_struct_param %}
           .function("{{ m.name }}", &wrap_{{ cls.name }}_{{ m.name }})
           {% else %}
           .function("{{ m.name }}", &C{{ cls.name }}::{{ m.name }})
           {% endif %}
       {% endfor %}
   ;
   {% endfor %}

   // CWrapper global bindings
   class_<CWrapper>("CWrapper")
       .constructor<>()
       {% for ctx in all_methods if ctx.is_global %}
           {% set m = ctx.method %}
           {% set wrapper_name = "wrap_" + ctx.class + "_" + m.name %}
           {% set skip = false %}
           {% for p in m.params %}
               {% if p.type == "pvoid" or (p.type == "handle" and not p.class) %}
                   {% set skip = true %}
               {% endif %}
           {% endfor %}
           {% if wrapper_name in wrapper_names %}
           .function("{{ m.name }}", &{{ wrapper_name }})
           {% elif m.comment_out or m.name == "GetSymbolLookupMethod" or skip %}
           // .function("{{ m.name }}", &CWrapper::{{ m.name }})
           {% elif m.returns_struct or m.has_struct_param %}
           .function("{{ m.name }}", &wrap_Wrapper_{{ m.name }})
           {% else %}
           .function("{{ m.name }}", &CWrapper::{{ m.name }})
           {% endif %}
       {% endfor %}
   ;

}
